.accordeon {
  padding-top: 16px;
  padding-bottom: 15px;

  &__block {
    &--open {
      .accordeon__control {
        svg {
          rotate: 180deg;
        }
      }

      .accordeon__content {
        display: block;
      }
    }
  }

  &__control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 9px;
    }

    span {
      @include body-sm;
    }
  }

  &__content {
    display: none;
    padding-bottom: 9px;
  }

  .description-content {
    &__paragraph {
      @include body-sm;
      color: $clr-dark-gray;
    }
  }

  .information-content {
    &__item {
      @include body-sm;
      color: $clr-dark-gray;

      span {
        color: $clr-black;
        margin-right: 10px;
      }
    }
  }

  .reviews-content {
    &__add-review {
      margin-bottom: 21px;
    }

    &__reviews-title {
      @include heading-3;
      & {
        margin-bottom: 10px;
      }
    }

    &__reviews-list {
      .review {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &__author {
          @include heading-3;
          & {
            margin-bottom: 5px;
          }
        }

        &__rating {
          margin-bottom: 5px;

          &-star {
            &:not(:last-child) {
              margin-right: 5px;
            }
          }
        }

        &__text {
          @include body-sm;
          color: $clr-dark-gray;
        }
      }
    }
  }
}
