$ff-face: 'DM Sans';
$font-family: $ff-face, sans-serif;
$container-width: 1248px;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$clr-accent: #a18a68;
$clr-accent-faded: #f9f1e7;
$clr-white: #fff;
$clr-black: #000;
$clr-dark-gray: #707070;
$clr-gray: #d8d8d8;
$clr-light-gray: #efefef;
$clr-errors: #d82700;
$clr-success: #a18a68;
$bp-xl: calc($container-width + 32px);
$bp-lg: 1024px;
$bp-tablet: 768px;
$bp-mobile: 576px;
